* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(235, 182, 117);
  text-align: center;
}

.radial-gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #9b59b6;
  background: radial-gradient(at center, #3498db, #9b59b6);
}

header {
  font-size: 1.7rem;
  color: rgb(255, 0, 0);
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 0) 10%,
    rgb(240, 197, 117, 0.5) 20%,
    rgb(240, 197, 117) 50%,
    rgb(240, 197, 117, 0.5) 80%,
    rgba(0, 0, 255, 0) 90%
  );
  height: max-content;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin: 40px 0px;
}

ol {
  font-weight: 700;
  color: rgb(5, 5, 0);
  font-size: 1.5rem;
  width: fit-content;
  margin: auto;
}

li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

@media (max-width: 501px) {
  ol {
    font-size: 20px;
    width: 70vw;
  }

  header {
    font-size: 1.3rem;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 255, 0) 5%,
      rgb(240, 197, 117, 0.5) 10%,
      rgb(240, 197, 117) 50%,
      rgb(240, 197, 117, 0.5) 90%,
      rgba(0, 0, 255, 0) 95%
    );
  }
}
