html,
body {
  background-color: #240f52;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "helvetica neue";
  text-align: center;

  font-size: 10px;
  margin: 0;
}

.center {
  margin: 0 auto;
}

.outer-ring {
  position: absolute;

  left: calc(50% - 150px);
  height: 50vw;
  width: 50vw;

  background-image: linear-gradient(
    135deg,
    #feed07 0%,
    #fe6a50 5%,
    #ed00aa 15%,
    #2fe3fe 50%,
    #8900ff 100%
  );

  border-radius: 50%;
  border: 3px solid black;

  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.inner-ring {
  position: absolute;
  top: calc(50% - 222px);
  left: calc(50% - 135px);
  height: 47vw;
  width: 47vw;
  border: 3px solid black;

  background-image: linear-gradient(0deg, #5227fce5, #35c00bad);
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clock-face {
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: rgb(238, 232, 232);
  position: absolute;
  top: 49%;
  border-radius: 50px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
